<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="modal-header">
          <h4 class="card-title">Nhà Cung Cấp</h4>
          <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="add">
            <i class="now-ui-icons ui-1_simple-add"></i></button>
        </div>
        <div class="card-body">
          <div class="alert alert">
            <div class="card-body">
              <div class="table-hover"> <!--table-responsive-->
                <table class="table">
                  <thead class=" text-primary">
                  <!--                  <th>Check</th>-->
                  <th>Mã</th>
                  <th>Tên Nhà Cung Cấp</th>
                  <th class="text-right">Công cụ</th>
                  </thead>
                  <tbody style="color: black">
                  <tr *ngFor="let supplier of supplierClass">
                    <td>{{supplier.supplierId}}</td>
                    <td>{{supplier.supplierName}}</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                        <i class="now-ui-icons ui-2_settings-90"></i>
                      </button>
                      <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="col-md-6">
          <div class="card">
            <div class="modal-header">
              <h4 class="card-title">Màu Sắc Sản Phẩm</h4>
              <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="add">
                  <i class="now-ui-icons ui-1_simple-add"></i></button>
            </div>
            <div class="card-body">
              <div class="alert alert">
                <div class="card-body">
                  <div class="table-hover"> <!--table-responsive-->
                    <table class="table">
                      <thead class=" text-primary">
                      <th>Mã</th>
                      <th>Màu sắc</th>
                      <th class="text-right">Công cụ</th>
                      </thead>
                      <tbody style="color: black">
                      <tr *ngFor="let color of colorsClass">
                        <td>{{color.colorId}}</td>
                        <td>{{color.colorName}}</td>
                        <td class="td-actions text-right">
                          <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                            <i class="now-ui-icons ui-2_settings-90"></i>
                          </button>
                          <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <!--    <div class="col-md-6">-->
    <!--      <div class="card">-->
    <!--        <div class="card-header">-->
    <!--          <h4 class="card-title">DEMO</h4>-->
    <!--        </div>-->
    <!--        <div class="card-body">-->
    <!--          <div class="alert alert-primary">-->
    <!--            <button type="button" aria-hidden="true" class="close">-->
    <!--              <i class="now-ui-icons ui-1_simple-remove"></i>-->
    <!--            </button>-->
    <!--            <span>-->
    <!--              <b> Primary - </b> This is a regular notification made with ".alert-primary"</span>-->
    <!--          </div>-->
    <!--          <div class="alert alert-info">-->
    <!--            <button type="button" aria-hidden="true" class="close">-->
    <!--              <i class="now-ui-icons ui-1_simple-remove"></i>-->
    <!--            </button>-->
    <!--            <span>-->
    <!--              <b> Info - </b> This is a regular notification made with ".alert-info"</span>-->
    <!--          </div>-->
    <!--          <div class="alert alert-success">-->
    <!--            <button type="button" aria-hidden="true" class="close">-->
    <!--              <i class="now-ui-icons ui-1_simple-remove"></i>-->
    <!--            </button>-->
    <!--            <span>-->
    <!--              <b> Success - </b> This is a regular notification made with ".alert-success"</span>-->
    <!--          </div>-->
    <!--          <div class="alert alert-warning">-->
    <!--            <button type="button" aria-hidden="true" class="close">-->
    <!--              <i class="now-ui-icons ui-1_simple-remove"></i>-->
    <!--            </button>-->
    <!--            <span>-->
    <!--              <b> Warning - </b> This is a regular notification made with ".alert-warning"</span>-->
    <!--          </div>-->
    <!--          <div class="alert alert-danger">-->
    <!--            <button type="button" aria-hidden="true" class="close">-->
    <!--              <i class="now-ui-icons ui-1_simple-remove"></i>-->
    <!--            </button>-->
    <!--            <span>-->
    <!--              <b> Danger - </b> This is a regular notification made with ".alert-danger"</span>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="col-md-12">
    </div>
  </div>
</div>

