<!--<div class="panel-header panel-header-sm">-->
<!--</div>-->
<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">Notifications</h2>
    <p class="category">Please checkout the
      <a href="https://scttcper.github.io/ngx-toastr/" target="_blank">full documentation.</a>
    </p>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"> Danh Sách Người Dùng</h4>
        </div>
        <div class="card-body">
          <div class="table-hover"> <!--table-responsive-->
            <table class="table">
              <thead class=" text-primary">
              <th>Check</th>
              <th>Mã</th>
              <th>Tên</th>
              <th>Ảnh</th>
              <th>Giá</th>
              <th>Số Lượng</th>
              <th>Miêu Tả</th>
              <th>Số Lượng</th>
              <th class="text-right">Công cụ</th>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" checked>
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
                <td>Dakota Rice</td>
                <td>Niger</td>
                <td> ? </td>
                <td>Oud-Turnhout</td>
                <td>Oud-Turnhout</td>
                <td>Oud-Turnhout</td>
                <td>Oud-Turnhout</td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" checked>
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
                <td>Dakota Rice</td>
                <td>Niger</td>
                <td> ? </td>
                <td>Oud-Turnhout</td>
                <td>Oud-Turnhout</td>
                <td>Oud-Turnhout</td>
                <td>Oud-Turnhout</td>
                <td class="td-actions text-right">
                  <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                    <i class="now-ui-icons ui-2_settings-90"></i>
                  </button>
                  <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
